.btn {
  border-radius: 20px;
  background: var(--color-primary);
  padding: 10px;
  width: 40%;
  transition: var(--transition)
}

.btn:hover {
  color: white;
  border: 1px solid white;
  transform: scale(1.05)
}

.btn-qty {
  background: transparent;
  color: white;
}
