@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: rgb(16, 16, 16);
  --color-primary: #4db5ff;
  --color-bg-gray: rgb(44, 44, 44);
  --color-light: rgb(200, 200, 200);

  --transition: all 500ms ease;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: white;
  background: var(--color-bg);
}

h1, h2, h3 {
  color: var(--color-primary);
}
