.cart__header {
  padding: 40px 20px 20px;
}

.cart__header h1 {
  text-align: center;

}

.cart__container .btn-cart {
  display: none;
}

.items__container {
  grid-template-columns: 1fr!important;
}

.item__container {
  height: 30vh;
}

.cartTotal__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid var(--color-bg-gray);
  background: rgb(60, 60, 60);
  color: white;
  padding: 40px;
  height: 200px;
  margin: 40px 0px 0px;
}
